@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    //background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    //background: #0f0e17;
    background: hsl(234, 29%, 7%);
    //background-image:
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
}

.gradient-bg-site {
    background-color:rgb(39, 255, 169);
    background-image:
    radial-gradient(at 100% 37%, rgb(89, 255, 67) 0px, transparent 50%),
    radial-gradient(at 21% 31%, rgb(255, 0, 0) 0px, transparent 50%),
    radial-gradient(at 1% 2%, rgb(88, 5, 255) 0px, transparent 50%),
    radial-gradient(at 91% 52%, rgb(255, 225, 0) 0px, transparent 50%),
    radial-gradient(at 41% 100%, rgb(35, 35, 156) 0px, transparent 50%),
    radial-gradient(at 80% 68%, rgb(0, 255, 55) 0px, transparent 50%),
    radial-gradient(at 63% 0%, rgb(255, 98, 0) 0px, transparent 50%);
}
.gradient-bg-container {
    background-color:hsla(240,100%,60%,1);
    background-image:
    radial-gradient(at 77% 20%, hsla(120,93%,79%,1) 0px, transparent 50%),
    radial-gradient(at 39% 18%, hsla(24,95%,65%,1) 0px, transparent 50%),
    radial-gradient(at 53% 35%, hsla(85,67%,61%,1) 0px, transparent 50%),
    radial-gradient(at 20% 86%, hsla(157,96%,68%,1) 0px, transparent 50%),
    radial-gradient(at 17% 74%, hsla(0,100%,50%,1) 0px, transparent 50%),
    radial-gradient(at 77% 68%, hsla(26,62%,68%,1) 0px, transparent 50%),
    radial-gradient(at 34% 11%, hsla(117,75%,79%,1) 0px, transparent 50%);
}
.blue-glassmorphism {
    background: rgba(118, 118, 142, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  /* white glassmorphism */
  .white-glassmorphism {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
